.pfp{
    border-radius: 50%;
    width: 400px;
    margin-top: 60px;
    margin-right: 70px;
    box-shadow: 3px 4px 16px red, 3px 4px 26px red, 3px 4px 46px red;
    max-width: 100%;
    height: auto;
}

body{
    background-color: black;
}

.h1{
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-top: 120px;
    height: fit-content;
    max-width: 100%;
    height: auto;
}

.span-1{
    text-shadow: 0px 0px 20px red, 0px 0px 10px red, 0px 0px 40px red;
    max-width: 100%;
    height: auto;
}

.div-1{
    display: flex;
    width: fit-content;
}

.div-img{
    width: fit-content;
}

.sec{
    max-height: 500px;
    display: flex;
    justify-content: center;
}

.h3{
    color: white;
    height: fit-content;
    margin-top: 200px;
    margin-right: 100px;
    position: absolute;
    max-width: 100%;
    height: auto;
}

.nav-body{
    color: grey;
    background-color: black;
    border: none;
    font-size: 30px;
    cursor: pointer;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    margin: 0px;
    margin-left: -160px;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

.nav-div{
    height: fit-content;
}
