.body{
    background-color: black;
}

*{
    margin: 0px;
}

.social{
    width: fit-content;
    position: fixed;
    margin-left: 9px;
    margin-top: -70px;
}

.profile_pic{
    margin: 10px;
    margin-top: 5px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px red, 0px 0px 40px red;
}

.intro{
    background-color: rgb(24, 23, 23);
    max-width: fit-content;
    max-height: 300px;
    margin-top: 10px;
    border-radius: 5%;
    margin-left: 15px;
    margin-top: 20px;
}

.intro:hover{
    background-color: rgb(24, 23, 23);
    max-width: fit-content;
    max-height: 300px;
    margin-top: 10px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px red,0px 0px 10px red;
    margin-left: 15px;
    margin-top: 20px;
}

.profile_name{
    color: silver;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 75px;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
}

.profile_name:hover{
    color: silver;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 75px;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    cursor: default;
}

.github_link{
    color: rgb(54, 54, 54);
    margin-left: 20px;
}

.github_link:hover{
    color: rgb(54, 54, 54);
    text-shadow: 0px 0px 7px red,0px 0px 10px red;
    margin-left: 20px;
}

.ig_link{
    color: rgb(54, 54, 54);
    margin-left: 20px;
}

.ig_link:hover{
    color: rgb(54, 54, 54);
    text-shadow: 0px 0px 4px red,0px 0px 10px red;
    margin-left: 20px;
}

.discord_link{
    color: rgb(54, 54, 54);
    margin-left: 20px;
}

.discord_link:hover{
    color: rgb(54, 54, 54);
    text-shadow: 0px 0px 4px red,0px 0px 10px red;
    margin-left: 20px;
}

.bio{
    background-color: rgb(24, 23, 23);
    position: relative;
    width: fit-content;
    left: 350px;
    top: -240px;
    border-radius: 5%;
}

.bio_intro_text{
    color: silver;
    font-style: normal;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}